<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/estilos_auto.css">
  <link rel="stylesheet" href="/static/css/fontello.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>

<header>
  <center>
  <h1> ¡UNETE A LA MEJOR EMPRESA DE TRANSPORTE! </h1>
</center>
</header>


<form action="pag.html">
  <input type="submit" value="Go to Home" />
</form>

<center>
<h2> ¿Que Deseas Hacer?</h2>
<br>
</center>

<section class="bg-primary" id="Nosotros">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-graduation-cap text-primary mb-3 sr-icons"></i>
          <br>
          <a href="eliminar_chofer.html">¡Eliminar Chofer!</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-user text-primary mb-3 sr-icons"></i>
            <br>
          <a href="multas.html">¡Levantar una multa!</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
          <br>
          <a href="eliminar_vehiculo.html">¡Eliminar Vehiculo!</a>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
