<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/estilos_auto.css">
  <link rel="stylesheet" href="/static/css/fontello.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>

<body>

<header>
  <center>
  <h1> ¡UNETE A LA MEJOR EMPRESA DE TRANSPORTE! </h1>
</center>
</header>

<form action="pag.html">
  <input type="submit" value="Go to Home" />
</form>

<h2> Levanta una multa </h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto text-center">
      <h2 class="section-heading">Contesta este breve formulario:</h2>
      <hr class="my-4">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ml-auto ">

      <img src="/static/img/chofer.png" width="350" align="center">
      <br>

    </div>
    <div class="col-lg-4 mr-auto ">
      <div class="form-group">
          <form id="form-reg">
            <label for="nombre">Número de licencia</label>
            <input type="text" class="form-control" id="num_licencia" name="num_licencia" placeholder="Enter Numero de licencia">
            <label for="nombre">Número Economico</label>
            <input type="text" class="form-control" id="num_economico" name="num_economico" placeholder="Enter Numero economico">
            <label for="nombre">Monto a Pagar</label>
            <input type="text" class="form-control" id="monto" name="monto" placeholder="Enter Monto">
            <label for="nombre">Placa del Agente</label>
            <input type="text" class="form-control" id="placa_agente"  name="placa_agente" placeholder="Enter Placa del Agente">
            <label for="nombre">Lugar</label>
            <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Enter Direccion del Lugar">
            <label for="nombre">Hora</label>
            <input type="text" class="form-control" id="hora" name="hora" placeholder="Enter Hora">
            <label for="nombre">Razón</label>
            <input type="text" class="form-control" id="razon" name="razon" placeholder="Enter Razón">
            <div class="text-center">
                <button class="btn btn-primary" id="registrar">Registrar</button>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>


</body>
