<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/estilos_auto.css">
  <link rel="stylesheet" href="/static/css/fontello.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>

<body>

<header>
  <center>
  <h1> ¡UNETE A LA MEJOR EMPRESA DE TRANSPORTE! </h1>
</center>
</header>

<form action="/">
  <input type="submit" value="Go to Home" />
</form>

<h2> Registrate como {{ type_user.name }} </h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto text-center">
      <h2 class="section-heading">Contesta este breve formulario:</h2>
      <hr class="my-4">

    </div>
    </div>
  <div class="row">
    <div class="col-lg-4 ml-auto ">

      <img src="/static/img/{{type_user.image}}" width="350" align="center">
      <br>

    </div>
    <div class="col-lg-4 mr-auto ">
      <div class="form-group">
        <form id="form-reg">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name= "nombre " placeholder="Pedro">
        <label for="nombre">Apellido Paterno</label>
        <input type="text" class="form-control" id="ap_paterno" name="ap_paterno" placeholder="Sánchez">
        <label for="nombre">Apellido Materno</label>
        <input type="text" class="form-control" id="ap_materno" name="ap_materno" placeholder="Hernández">
        <label for="nombre">Correo Electronico</label>
        <input type="text" class="form-control" id="correo" name ="correo" placeholder="exapmle@example.com">
        <label for="nombre">Telefono de Casa </label>
        <input type="text" class="form-control" id="tel_casa" name="tel_casa" placeholder="(55)55555555">
        <label for="nombre">Telefono Celular</label>
        <input type="text" class="form-control" id="tel_cel" name="tel_cel" placeholder="(55)55555555">
        <label for="nombre">{{ type_user.distinct }}</label>
        <input type="text" class="form-control" id="type_user" name= "type_user" placeholder="{{ type_user.text }}">
        <label for="nombre">¡Necesitamos una foto tuya!</label>
        <form method="post" enctype="multipart/form-data"><br>
          <input type=file size=60 name="file1"><br><br>
          <input type=submit value="subir"><br>
        </form><br>
        <div class="text-center">
        <button class="btn btn-primary">Enviar</button>
        </div>
      </form>

      </div>
    </div>
  </div>
</div>


</body>
