<!DOCTYPE html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/estilos_auto.css">
  <link rel="stylesheet" href="/static/css/fontello.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>

<body>

<header>
  <center>
  <h1> ¡UNETE A LA MEJOR EMPRESA DE TRANSPORTE! </h1>
</center>
</header>
<form action="/">
  <input type="submit" value="Go to Home" />
</form>

<h2> Registrate como chofer </h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto text-center">
      <h2 class="section-heading">Contesta este breve formulario:</h2>
      <hr class="my-4">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ml-auto ">

      <img src="/static/img/cond.png" width="350" align="center">
      <br>

    </div>
    <div class="col-lg-4 mr-auto ">
      <div class="form-group">
      <form id="form-reg">
        <label for="nombre">Numero de Licencia</label>
        <input type="text" class="form-control" id="num_licencia" name="num" placeholder="Enter Numero de Licencia">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre"  name="nombre" placeholder="Enter Nombre">
        <label for="nombre">Apellido Paterno</label>
        <input type="text" class="form-control" id="paterno" name="paterno" placeholder="Enter Apellido Paterno">
        <label for="nombre">Apellido Materno</label>
        <input type="text" class="form-control" id="materno" name="materno" placeholder="Enter Celular">
        <label for="nombre">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email ">
        <label for="nombre">Ingrese RFC</label>
        <input type="text" class="form-control" id="rfc" name="rfc" placeholder="Enter RFC">
        <label for="nombre">RFC</label>
        <input type="text" class="form-control" id="give_rfc" name="give_rfc" placeholder="Enter RFC">
        <label for="nombre">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" placeholder="Enter Estado">
        <label for="nombre">Delegacion</label>
        <input type="text" class="form-control" id="delegacion" name="delegacion" placeholder="Enter Delegacion">
        <label for="nombre">Calle</label>
        <input type="text" class="form-control" id="calle" name="calle" placeholder="Enter calle">
        <label for="nombre">Número</label>
        <input type="text" class="form-control" id="numero" name="numero" placeholder="Enter numero">
        <label for="nombre">Codigo Postal</label>
        <input type="text" class="form-control" id="cp" name="cp" placeholder="Enter codigo postal">
        <label for="nombre">¡Necesitamos una foto tuya!</label>
        <form method="post" enctype="multipart/form-data"><br>
          <input type=file size=60 name="file1"><br><br>
          <input type=submit value="subir"><br>
        </form><br>
        <div class="text-center">
        <button class="btn btn-primary">Enviar</button>
        </div>
          </form>
      </div>
    </div>
  </div>
</div>


</body>
